//Style des Boutons

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background:$button-background;
  color: $button-color-primary;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  overflow: hidden;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  min-width: 64px;
  height: 36px;
  line-height: 36px;
  letter-spacing: $button-letter-spacing;
  @include button-size($button-spacer-y, $button-spacer-x, $button-font-size, $button-font-weight);
  @include transition($button-transition-property, $button-transition-duration, $button-transition-ease);

  @include hover-focus {
    background: $button-background-hover;
  }

  @include border-radius($button-radius);

  //Style bouton ".disabled"
  &.disabled{
    cursor: default;
    pointer-events: none;
    opacity: .65;
  }

  //Style bouton avec icone
  &__icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 18px;
    vertical-align: top;
    margin-left: 0;
    margin-right: 8px;
  }

}

.btn--raised{
  @include button-style($button-background-raised ,$button-color-primary);
  @include shadows(2);

  @include hover-focus {
    @include shadows(4);
  }

}

//Bouton "Dense"

.btn--dense{
    height: 32px;
    line-height: 32px;
    font-size: .8125rem;
}

//Boutons "Typés" en Raised et Outline

.btn{
  &__primary{
    @include button-style($button-background-primary, $button-color-secondary);
    &--outline{
      @include button-outline($button-background-primary);
    }
  }

  &__secondary{
    @include button-style($button-background-secondary, $button-color-secondary);
    &--outline{
      @include button-outline($button-background-secondary);
    }
  }

  &__success{
    @include button-style($button-background-success, $button-color-secondary);
    &--outline{
      @include button-outline($button-background-success);
    }
  }

  &__danger{
    @include button-style($button-background-danger, $button-color-secondary);
    &--outline{
      @include button-outline($button-background-danger);
    }
  }

  &__warning{
    @include button-style($button-background-warning, $button-color-primary);
    &--outline{
      @include button-outline($button-background-warning);
    }
  }

  &__info{
    @include button-style($button-background-info, $button-color-secondary);
    &--outline{
      @include button-outline($button-background-info);
    }
  }
}


//Boutons "Shaped"
.btn--shaped{
  @if $enable-radius{
    @include border-radius($button-shaped-radius);
  }
}
