//.nav__drawer
//Navigation tiroir

.navbar__drawer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 0;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-320px);
    overflow: hidden;
    z-index: $zindex-drawer;
    background: #fff;
  
    &--open{
      transform: none;
      width: 100%;
      max-width: 320px;
    }
  
    &--locked-scroll{
      overflow: hidden;
    }
  }