//Styles des listes

//Listes simple
.list{
  font-size: $list-size;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: .009375em;
  color: $list-main-color;
  margin: 0;
  padding: 8px 0;
  text-decoration: inherit;
  text-transform: inherit;
  list-style: none;

  //Item liste
  &__item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    overflow: hidden;


    //Contenu de la liste
    &__content{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      //Contenus primaires et secondaires
      &--primary, &--secondary{
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      //Contenu primaires
      &--primary{

      }

      //Contenu secondaires
      &--secondary{
        font-size: .875rem;
        font-weight: 400;
        letter-spacing: .0178571429em;
        color: rgba(0,0,0,.54);
      }

    }

  }

  //Listes avec texte secondaire
  &--secondary-content{

    .list__item{
      height: 72px;
    }

  }

}
