//Nav

.navbar{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: $zindex-fixed;
  width: 100%;
  background: $nav-bg;

  @include shadows(4);

  &__row{
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;

    @each $breakpoints in map-keys($nav) {
      @include breakpoint-media-queries($breakpoints) {
        $nav-height: map-get($nav, $breakpoints);
        height: $nav-height;
      }
    }
  }

  //Position de la navbar
  &--fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
  }

  &--fixed-bottom{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
  }


  &__section{
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    padding: 8px 12px;
    min-width: 0;

    &--align-start{
      justify-content: flex-start;
      order: -1;
    }

    &--align-end{
      justify-content: flex-end;
      order: -1;
    }
  }


  //Extension navbar
  &.extended{
    height: 128px;
  }
}
//Fin Nav


//Boutons Toggle et liens d'action (pictos)
.navbar__toggle,
.navbar__button{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  padding: $navbar-toggle-spacer;
  font-size: $navbar-toggle-font-size;
  color: $navbar-color;
  background: transparent;
  border: $navbar-toggle-border;
  border-radius: 50%;
  cursor: pointer;
  width: 48px;
  height: 48px;
  overflow: hidden;

  @include hover-focus {
    text-decoration: none;
  }

  &:before,
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }

  &:before{
    @include transition($navbar-hover-transition-property, $navbar-hover-transition-duration, $navbar-hover-transition-ease);
    z-index: 1;
    background: #fff;
  }

  &:hover{
    &:before{
      opacity: 0.32;
    }
  }

}


//Logo
.navbar__logo{
  display: inline-block;
  color: $navbar-logo;
  padding-left: $navbar-spacer-logo;
  line-height: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
//Fin Logo


.navbar__nav{
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin: 0;
  list-style: none;

  @include media-breakpoint-down(md){
    display: none;
  }

  //Liens
  .navbar__link{
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0 0.75rem;
    font-size: $nav-font-size;
    color: $navbar-color;
    @each $breakpoints in map-keys($nav) {
      @include breakpoint-media-queries($breakpoints) {
        $link-height: map-get($nav, $breakpoints);
        line-height: $link-height;
      }
    }

    @include hover-focus {
      color: $navbar-hover-color;
    }
  //Fin Liens

    &.disabled{
      color: $disabled-link;
      pointer-events: none;
    }

    &.active{
      color: $navbar-active-color;
    }

  }
}
