//Tabs

.tabs{
  display: flex;
  position: relative;
  background: transparent;
  height: 48px;
  padding-left: 0;
  margin: 0;
  list-style: none;

  &__item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    min-width: 90px;
    min-height: 48px;
    padding: 0 16px;
    line-height: 48px;
    text-align:center;

    &__link{
      display: block;
      text-overflow: ellipsis;

      &.disabled,
      &.disabled:hover{
        color: $tabs-disabled;
        cursor: default;
      }
    }

  }

  .cursor{
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: $tabs-cursor;
  }

}
