//Tableaux

.table{
  width: 100%;
  position: relative;
  border: $table-border;
  border-spacing: 0;
  border-collapse: collapse;
  white-space: nowrap;
  background: $table-background;
  font-size: $table-size;
  @include shadows(3);


  thead, tbody, tfoot{
    background: inherit;

    tr{
      position: relative;
      height: $table-row-height;
    }

    td, th{
      box-sizing: border-box;
      text-align: left;

      &:first-of-type {
        padding-left: 24px;
      }

      &:last-of-type {
        padding-right: 24px;
      }
    }

  }

  th{
    position: relative;
    box-sizing: border-box;
    text-overflow: ellipsis;
    color: $table-head-color;
    font-size: $table-head-size;
    line-height: 2rem;
    letter-spacing: $table-letter-spacing;
    border-bottom: $table-border;
  }

  td{
    position: relative;
    box-sizing: border-box;
    color: $table-body-color;
    border-bottom: $table-border;
  }

  //Contenu centré
  &--centered{
    thead, tbody, tfoot{
      tr{
        th, td{
          text-align: center;
        }
      }
    }
  }

  //Rayé
  &--striped{
    tbody{
      tr{
        &:nth-child(odd){
          background: $table-row-background-striped;
        }
      }
    }
  }

  //Avec effet au survol
  &--hovered{
    tbody{
      tr{
        cursor: pointer;

        @include hover-focus {
          background: $table-row-background-hover;
        }

        @include transition($table-transition-property, $table-transition-duration, $table-transition-ease);
      }
    }
  }

}


//Responsive
@include media-breakpoint-down(md){
  .table, thead, tbody, tfoot, tr, th, td{
    display: block;

  }

  .table{

    thead{
      display: none;
    }

    tbody{
      width: 100%;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
    }

    thead, tbody, tfoot{
      tr{
        height: auto;
      }

      td, th{

        &:first-of-type {
          padding-left: 120px;
        }

        &:last-of-type {
          padding-right: 120px;
        }

      }

    }

    td{
      display: flex;
      align-items: center;
      height: $table-row-height;
      margin-top: -1px;
      padding-left: 120px;
      border-bottom: 0;

      &:before{
        content: attr(data-label);
        display: flex;
        align-items: center;
        padding: 1rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100px;
        background: $table-background;
        text-overflow: ellipsis;
        color: $table-head-color;
        font-size: $table-head-size;
        font-weight: bold;
        line-height: 2rem;
        letter-spacing: $table-letter-spacing;
        border-right: $table-border;
      }
    }
  }

}
