/*!
* Easy Framework v0.1
* Copyright 2018 Alex Graphic Designer
*/
/*!

------------
COULEURS MATERIAL DESIGN
------------

*/
/*!
*
* x - Options
* x - Breakpoint
* x - Grid
* x - Gutter
* x - Margin
* x - Container
* x - Fonts
*
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/*------------------ x - Options ---------------------*/
/*------------------ x - Breakpoint ---------------------*/
/*------------------ x - Grid ---------------------*/
/*------------------ x - Gutter ---------------------*/
/*------------------ x - Container ---------------------*/
/*------------------ x - Spacer ---------------------*/
/*------------------ x - Z-index ---------------------*/
/*------------------ x - Color ---------------------*/
/*------------------ x - Shadows ---------------------*/
/*------------------ x - Fonts ---------------------*/
/*------------------ x - Link ---------------------*/
/*------------------ x - Btn ---------------------*/
/*------------------ x - Nav ---------------------*/
/*------------------ x - Body ---------------------*/
/*------------------ x - Title ---------------------*/
/*------------------ x - Paragraph ---------------------*/
/*------------------ x - Caption ---------------------*/
/*------------------ x - Table ---------------------*/
/*------------------ x - Tabs ---------------------*/
/*------------------ x - List ---------------------*/
/*!
*
* Surcharge variables ici
*
*/
.map-get {
  keys: xl, md, sm;
  keys: xl, md, sm;
  values: 24px, 16px, 16px;
  get: 16px;
  values2: 12, 8, 4;
}

.mediaqueries {
  margin-top: 0px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.ripple__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ripple__effect {
  display: block;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0.75;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: ripple 1000ms;
  -moz-animation: ripple 1000ms;
  -o-animation: ripple 1000ms;
  animation: ripple 1000ms;
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@-moz-keyframes ripple {
  to {
    opacity: 0;
    -moz-transform: scale(2);
    transform: scale(2);
  }
}

@-o-keyframes ripple {
  to {
    opacity: 0;
    -o-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  color: #1976d2;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  -moz-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul {
  margin-bottom: 0;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
* Ecrasement style natif des boutons.
*/
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 840px) {
  .container {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .container {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (max-width: 479px) {
  .container {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (min-width: 840px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .container {
    max-width: 840px;
  }
}

@media (max-width: 479px) {
  .container {
    max-width: 480px;
  }
}

.container-fluid {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 840px) {
  .container-fluid {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .container-fluid {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (max-width: 479px) {
  .container-fluid {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 840px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media (max-width: 479px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
}

.row .no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row .no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

[class*="col-"] {
  position: relative;
  width: 100%;
  min-height: 1px;
}

@media (min-width: 840px) {
  [class*="col-"] {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (max-width: 479px) {
  [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.col-auto {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

@media (min-width: 840px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xl-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-xl-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-xl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xl-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-xl-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-xl-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-xl-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-xl-1 {
    margin-left: 8.33333%;
  }

  .offset-xl-2 {
    margin-left: 16.66667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333%;
  }

  .offset-xl-5 {
    margin-left: 41.66667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333%;
  }

  .offset-xl-8 {
    margin-left: 66.66667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333%;
  }

  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 12.5%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 37.5%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 62.5%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 87.5%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-md-1 {
    margin-left: 12.5%;
  }

  .offset-md-2 {
    margin-left: 25%;
  }

  .offset-md-3 {
    margin-left: 37.5%;
  }

  .offset-md-4 {
    margin-left: 50%;
  }

  .offset-md-5 {
    margin-left: 62.5%;
  }

  .offset-md-6 {
    margin-left: 75%;
  }

  .offset-md-7 {
    margin-left: 87.5%;
  }
}

@media (max-width: 479px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .offset-sm-1 {
    margin-left: 25%;
  }

  .offset-sm-2 {
    margin-left: 50%;
  }

  .offset-sm-3 {
    margin-left: 75%;
  }
}

body {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.0125rem;
  color: #000000;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-decoration: inherit;
  text-transform: inherit;
}

h1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: -0.01563em;
}

h2 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 3.75rem;
  letter-spacing: -0.00833em;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: normal;
}

h4 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.00735em;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: normal;
}

h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0125em;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.01786em;
}

caption {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.03333em;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: #1976d2;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.navbar__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 840px) {
  .navbar__row {
    height: 56px;
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .navbar__row {
    height: 64px;
  }
}

@media (max-width: 479px) {
  .navbar__row {
    height: 64px;
  }
}

.navbar--fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.navbar--fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.navbar__section {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 12px;
  min-width: 0;
}

.navbar__section--align-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.navbar__section--align-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.navbar.extended {
  height: 128px;
}

.navbar__toggle,
.navbar__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.navbar__toggle:hover, .navbar__toggle:focus,
  .navbar__button:hover,
  .navbar__button:focus {
  text-decoration: none;
}

.navbar__toggle:before, .navbar__toggle:after,
  .navbar__button:before,
  .navbar__button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.navbar__toggle:before,
  .navbar__button:before {
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  z-index: 1;
  background: #fff;
}

.navbar__toggle:hover:before,
  .navbar__button:hover:before {
  opacity: 0.32;
}

.navbar__logo {
  display: inline-block;
  color: #FFFFFF;
  padding-left: 20px;
  line-height: inherit;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.navbar__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 839px) {
  .navbar__nav {
    display: none;
  }
}

.navbar__nav .navbar__link {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0 0.75rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 840px) {
  .navbar__nav .navbar__link {
    line-height: 56px;
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .navbar__nav .navbar__link {
    line-height: 64px;
  }
}

@media (max-width: 479px) {
  .navbar__nav .navbar__link {
    line-height: 64px;
  }
}

.navbar__nav .navbar__link:hover, .navbar__nav .navbar__link:focus {
  color: #FFFFFF;
}

.navbar__nav .navbar__link.disabled {
  color: rgba(255, 255, 255, 0.25);
  pointer-events: none;
}

.navbar__nav .navbar__link.active {
  color: #FFFFFF;
}

.navbar__drawer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 0;
  height: 100%;
  max-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-320px);
  -moz-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  -o-transform: translateX(-320px);
  transform: translateX(-320px);
  overflow: hidden;
  z-index: 8000;
  background: #fff;
}

.navbar__drawer--open {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  width: 100%;
  max-width: 320px;
}

.navbar__drawer--locked-scroll {
  overflow: hidden;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: transparent;
  height: 48px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.tabs__item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  min-width: 90px;
  min-height: 48px;
  padding: 0 16px;
  line-height: 48px;
  text-align: center;
}

.tabs__item__link {
  display: block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.tabs__item__link.disabled, .tabs__item__link.disabled:hover {
  color: rgba(255, 255, 255, 0.25);
  cursor: default;
}

.tabs .cursor {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #1976d2;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(158, 158, 158, 0);
  color: #000000;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  min-width: 64px;
  height: 36px;
  line-height: 36px;
  letter-spacing: 0.08929em;
  padding: 0 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  -webkit-transition: background, -webkit-box-shadow 0.15s ease;
  transition: background, -webkit-box-shadow 0.15s ease;
  -o-transition: background, box-shadow 0.15s ease;
  -moz-transition: background, box-shadow 0.15s ease, -moz-box-shadow 0.15s ease;
  transition: background, box-shadow 0.15s ease;
  transition: background, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease, -moz-box-shadow 0.15s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn:hover, .btn:focus {
  background: rgba(158, 158, 158, 0.2);
}

.btn.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .65;
}

.btn__icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  vertical-align: top;
  margin-left: 0;
  margin-right: 8px;
}

.btn--raised {
  background: rgba(158, 158, 158, 0.2);
  color: #000000;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn--raised:hover, .btn--raised:focus {
  background: rgba(145, 145, 145, 0.2);
}

.btn--raised:hover, .btn--raised:focus {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.btn--dense {
  height: 32px;
  line-height: 32px;
  font-size: .8125rem;
}

.btn__primary {
  background: #1976d2;
  color: #FFFFFF;
}

.btn__primary:hover, .btn__primary:focus {
  background: #1669bb;
}

.btn__primary--outline {
  color: #1976d2;
  background: transparent;
  border: 2px solid #1976d2;
}

.btn__secondary {
  background: #7f0f40;
  color: #FFFFFF;
}

.btn__secondary:hover, .btn__secondary:focus {
  background: #680c35;
}

.btn__secondary--outline {
  color: #7f0f40;
  background: transparent;
  border: 2px solid #7f0f40;
}

.btn__success {
  background: #43a047;
  color: #FFFFFF;
}

.btn__success:hover, .btn__success:focus {
  background: #3b8e3f;
}

.btn__success--outline {
  color: #43a047;
  background: transparent;
  border: 2px solid #43a047;
}

.btn__danger {
  background: #C62828;
  color: #FFFFFF;
}

.btn__danger:hover, .btn__danger:focus {
  background: #b12424;
}

.btn__danger--outline {
  color: #C62828;
  background: transparent;
  border: 2px solid #C62828;
}

.btn__warning {
  background: #ff8f00;
  color: #000000;
}

.btn__warning:hover, .btn__warning:focus {
  background: #e68100;
}

.btn__warning--outline {
  color: #ff8f00;
  background: transparent;
  border: 2px solid #ff8f00;
}

.btn__info {
  background: #448aff;
  color: #FFFFFF;
}

.btn__info:hover, .btn__info:focus {
  background: #2b7aff;
}

.btn__info--outline {
  color: #448aff;
  background: transparent;
  border: 2px solid #448aff;
}

.btn--shaped {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}

.table {
  width: 100%;
  position: relative;
  border: 1px solid #e0e0e0;
  border-spacing: 0;
  border-collapse: collapse;
  white-space: nowrap;
  background: #FFFFFF;
  font-size: 0.8125rem;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.table thead, .table tbody, .table tfoot {
  background: inherit;
}

.table thead tr, .table tbody tr, .table tfoot tr {
  position: relative;
  height: 48px;
}

.table thead td, .table thead th, .table tbody td, .table tbody th, .table tfoot td, .table tfoot th {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}

.table thead td:first-of-type, .table thead th:first-of-type, .table tbody td:first-of-type, .table tbody th:first-of-type, .table tfoot td:first-of-type, .table tfoot th:first-of-type {
  padding-left: 24px;
}

.table thead td:last-of-type, .table thead th:last-of-type, .table tbody td:last-of-type, .table tbody th:last-of-type, .table tfoot td:last-of-type, .table tfoot th:last-of-type {
  padding-right: 24px;
}

.table th {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #757575;
  font-size: 0.75rem;
  line-height: 2rem;
  letter-spacing: 0;
  border-bottom: 1px solid #e0e0e0;
}

.table td {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
  border-bottom: 1px solid #e0e0e0;
}

.table--centered thead tr th, .table--centered thead tr td, .table--centered tbody tr th, .table--centered tbody tr td, .table--centered tfoot tr th, .table--centered tfoot tr td {
  text-align: center;
}

.table--striped tbody tr:nth-child(odd) {
  background: #eeeeee;
}

.table--hovered tbody tr {
  cursor: pointer;
  -webkit-transition: background 0.28s ease;
  -o-transition: background 0.28s ease;
  -moz-transition: background 0.28s ease;
  transition: background 0.28s ease;
}

.table--hovered tbody tr:hover, .table--hovered tbody tr:focus {
  background: #f5f5f5;
}

@media (max-width: 839px) {
  .table, thead, tbody, tfoot, tr, th, td {
    display: block;
  }

  .table thead {
    display: none;
  }

  .table tbody {
    width: 100%;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }

  .table thead tr, .table tbody tr, .table tfoot tr {
    height: auto;
  }

  .table thead td:first-of-type, .table thead th:first-of-type, .table tbody td:first-of-type, .table tbody th:first-of-type, .table tfoot td:first-of-type, .table tfoot th:first-of-type {
    padding-left: 120px;
  }

  .table thead td:last-of-type, .table thead th:last-of-type, .table tbody td:last-of-type, .table tbody th:last-of-type, .table tfoot td:last-of-type, .table tfoot th:last-of-type {
    padding-right: 120px;
  }

  .table td {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    margin-top: -1px;
    padding-left: 120px;
    border-bottom: 0;
  }

  .table td:before {
    content: attr(data-label);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    background: #FFFFFF;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #757575;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 2rem;
    letter-spacing: 0;
    border-right: 1px solid #e0e0e0;
  }
}

.list {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: .009375em;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  padding: 8px 0;
  text-decoration: inherit;
  text-transform: inherit;
  list-style: none;
}

.list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  overflow: hidden;
}

.list__item__content {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list__item__content--primary, .list__item__content--secondary {
  display: block;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list__item__content--secondary {
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  color: rgba(0, 0, 0, 0.54);
}

.list--secondary-content .list__item {
  height: 72px;
}
/*# sourceMappingURL=easy.css.map */
