//Mixins Breakpoints

// Les breakpoints sont définies avec une map '$breakpoints' dans le fichier "variables.scss", les valeurs sont celles issues des guidelines du material design de Google.

// (xl: 840px, md: 480px, sm: 0)

//Retourne le nom du prochain breakpoint, null pour le dernier
//    >> breakpoint-next(sm)
//    md
//    >> breakpoint-next(sm, (sm: 0, md: 480px, xl: 840px))
//    md
//    >> breakpoint-next(sm, $breakpoint-names: (sm md xl))
//    md

@function breakpoint-next($size, $breakpoint: $breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $size);
  @return if($n > 1, nth($breakpoint-names, $n - 1), null);
}

//Détermine le plus petit breakpoint dans la map '$breakpoints'
// (xl: 840px, md: 480px, sm: 0)
// 480px

@function breakpoint-min($size, $breakpoint: $breakpoints){
  @if not map-has-key($breakpoint, $size) {
    @error "Valeur inexistante! Choisissez dans #{map-keys($breakpoint)}";
  }
  $min: map-get($breakpoint, $size);

  @return if($min != 0, $min, null);
}


//Détermine le plus grand breakpoint dans la map '$breakpoints', null pour le plus grand.
// (xl: 840px, md: 480px, sm: 0)
// 480px - 1px
// 479px

@function breakpoint-max($size, $breakpoint: $breakpoints){
  @if not map-has-key($breakpoints, $size) {
    @error "Valeur inexistante! Choisissez dans #{map-keys($breakpoints)}";
  }

  $next: breakpoint-next($size, $breakpoints);
  @return if($next, (breakpoint-min($next) - 1px), null);
}


//Retourne une chaine de caractère vide pour le breakpoint le plus petit, sinon, retourne le nom du breakpoint précédé d'un tiret

@function breakpoint-name($size, $breakpoint: $breakpoints) {
  @return if(breakpoint-min($size, $breakpoint) == null, "", "-#{$size}");
}


//Breakpoint à une largeur minimale
//Mixin pour un breakpoint d'une taille minimum, s'applique à la taille d'écran donnée et plus grand.

@mixin media-breakpoint-up($size, $breakpoint: $breakpoints) {
  $min: breakpoint-min($size, $breakpoint);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}


//Breakpoint à une largeur maximale
//Mixin pour un breakpoint d'une taille maximum, s'applique à la taille d'écran donnée et plus petit.

@mixin media-breakpoint-down($size, $breakpoint: $breakpoints) {
  $max: breakpoint-max($size, $breakpoint);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}


//Détermine un saut entre deux valeurs '$lower' & '$upper' renseignées, définies dans la map '$breakpoints'

@mixin media-breakpoint-between($lower, $upper, $breakpoint: $breakpoints) {
  @include media-breakpoint-up($lower, $breakpoints) {
    @include media-breakpoint-down($upper, $breakpoints) {
      @content;
    }
  }
}


//Génération des sauts

@mixin breakpoint-media-queries($size) {
  @if not map-has-key($breakpoints, $size) {
    @error "Valeur inexistante! Choisissez dans #{map-keys($breakpoints)}";
  }

  $min:breakpoint-min($size);
  $max:breakpoint-max($size);

  @if $min == null and $max != null {
    // Téléphone
    @media (max-width: $max) {
      @content;
    }
  } @else if $min != null and $max != null {
    // Tablette
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $min != null and $max == null {
    // Desktop
    @media (min-width: $min) {
      @content;
    }
  } @else {
    // Stop - Aucun breakpoint défini
    @content;
  }
}
