// Mixins pour les styles de Boutons

@mixin button-size($padding-y, $padding-x, $font-size, $font-weight){
  padding: $padding-y $padding-x;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin button-style($background, $color){
  background: $background;
  color: $color;

  @include hover-focus {
    background: darken($background, 5%);
  }
}

//Mixins bouton Outline
@mixin button-outline ($color){
  color: $color;
  background: transparent;
  border:2px solid $color;
}
