//Mixin Grille

//Génération des colonnes, Nombre de colonnes différents par 'row' selon la taille de l'écran, ce nombre est défini dans la maps '$columns' dans le fichier 'variables.scss'

//(xl: 12, md: 8, sm:4)

@mixin build-grid(){

  [class*="col-"]{
    position: relative;
    width: 100%;
    min-height: 1px; //Préviens la 'fusion' de colonnes
    @include build-gutters();
  }

  .col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  @each $size in map-keys($columns){

    @include breakpoint-media-queries($size) {
        $column: map-get($columns, $size);

        @for $i from 1 through $column{

            .col-#{$size}-#{$i}{
            // largeur: pourcentage ($ taille / $ colonnes);
            // Le 'max-width' est utile à ce que le contenu de chaques colonnes ne change pas la taille de celles-ci.
            flex: 0 0 percentage($i / $column);
            max-width: percentage($i / $column);
            }
          }


        //génération des 'offsets'
        @for $i from 0 through ($column - 1) {

          @if not ($i == 0) { //Evite de générer un inutile '.offset-xx-0'
            .offset-#{$size}-#{$i} {
              @include build-col-offset($i, $column);
            }
          }
        }

      }
    }

  }
