//Mixin Container classique
@mixin build-container (){
  width:100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @each $breakpoints in map-keys($gutters) {
    @include breakpoint-media-queries($breakpoints) {
      $gutter: map-get($gutters, $breakpoints);
      padding-right: ($gutter / 2);
      padding-left:  ($gutter / 2);
    }
  }
}

//Mixin taille du Container classique
@mixin build-container-width (){
  @each $breakpoints in map-keys($container-widths) {
    @include breakpoint-media-queries($breakpoints) {
      $container-width: map-get($container-widths, $breakpoints);
      max-width: $container-width;
    }
  }
}

//Mixin Row
@mixin build-row(){
  display: flex;
  flex-wrap: wrap;
  @each $breakpoints in map-keys($gutters) {
    @include breakpoint-media-queries($breakpoints) {
      $gutter: map-get($gutters, $breakpoints);
      margin-left: ($gutter / -2);
      margin-right: ($gutter / -2);
    }
  }
}

//Mixin Gouttière
@mixin build-gutters($gutters: $gutters) {
  @each $breakpoints in map-keys($gutters) {
    @include breakpoint-media-queries($breakpoints) {
      $gutter: map-get($gutters, $breakpoints);
      padding-right: ($gutter / 2);
      padding-left:  ($gutter / 2);
    }
  }
}

//Mixin Offsets
@mixin build-col-offset($size, $columns: $columns) {
  $num: $size / $columns;
  margin-left: if($num == 0, 0, percentage($num));
}
