// Mixin Border Radius

@mixin border-radius ($radius){
  @if $enable-radius{
    border-radius: $radius;
  }
}

@mixin border-radius-top ($radius){
  @if $enable-radius{
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
  }
}

@mixin border-radius-right ($radius){
  @if $enable-radius{
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

@mixin border-radius-bottom ($radius){
  @if $enable-radius{
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }
}

@mixin border-radius-left ($radius){
  @if $enable-radius{
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
}
