//Effet d'ondulation

.ripple{

  &__container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__effect{
    display: block;
    transform: scale(0);
    opacity: 0.75;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    animation: ripple 1000ms;
  }
}

//Définition de l'animation
@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
