//Transitions

//Mixin gérant les transitions
//Exemple d'utilisation : @include transition(top, .3s, ease-in);
//Si aucune propriété n'est renseignée, les valeurs de bases de la mixin sont utilisées.

@mixin transition($property: all, $duration: .3s, $ease: linear){
  @if $enable-transitions {
    transition: $property $duration $ease;
  }
}
