//Container classique (avec une taille fixe selon la taille de l'écran)

@if $enable-grid {
  .container{
    @include build-container();
    @include build-container-width();
  }
}

//Container fluide (toujours en plein écran)
@if $enable-grid {
  .container-fluid{
    @include build-container();
  }
}

//Row
@if $enable-grid {
  .row{
    @include build-row();

    //Enlève les margins négatifs, remet également les paddings des colonnes enfants à 0.
    .no-gutters {
      margin-right: 0;
      margin-left: 0;
      
      > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
      }
    }

  }
}

//Colonnes
@if $enable-grid {
    @include build-grid();
}
