//Typographie
//Fichier de typo basé sur les guidelines du matérial design

//Style general texte Body
body {
  font-family: $font-family-master;
  font-size: $font-size-master;
  font-weight: $font-weight-master;
  letter-spacing: $letter-spacing-master;
  color:$font-color;
  background-color:$bg-color;
}

//Titres

h1, h2, h3, h4, h5, h6{
  margin-top:0;
  margin-bottom:0.5rem;
  text-decoration: inherit;
  text-transform: inherit;
}

h1{
  font-size: $h1-size;
  font-weight: $h1-font-weight;
  line-height: $h1-line-height;
  letter-spacing: $h1-letter-spacing;
}

h2{
  font-size: $h2-size;
  font-weight: $h2-font-weight;
  line-height: $h2-line-height;
  letter-spacing: $h2-letter-spacing;
}

h3{
  font-size: $h3-size;
  font-weight: $h3-font-weight;
  line-height: $h3-line-height;
  letter-spacing: $h3-letter-spacing;
}

h4{
  font-size: $h4-size;
  font-weight: $h4-font-weight;
  line-height: $h4-line-height;
  letter-spacing: $h4-letter-spacing;
}

h5{
  font-size: $h5-size;
  font-weight: $h5-font-weight;
  line-height: $h5-line-height;
  letter-spacing: $h5-letter-spacing;
}

h6{
  font-size: $h6-size;
  font-weight: $h6-font-weight;
  line-height: $h6-line-height;
  letter-spacing: $h6-letter-spacing;
}

//Texte

p{
  font-size: $p-size;
  font-weight: $p-font-weight;
  line-height: $p-line-height;
  letter-spacing: $p-letter-spacing;
}

//Légende
caption{
  font-size: $caption-size;
  line-height: $caption-line-height;
  font-weight: $caption-font-weight;
  letter-spacing: $caption-letter-spacing;
}
