/*!
*
* Surcharge variables ici
*
*/

.map-get{
  keys:map-keys($gutters);
  keys:map-keys($columns);
  values:map-values($gutters);
  get: map-get($gutters, md);
  values2: map-values($columns);
}

// .mediaqueries{
//   margin-top: 0px;
//
//   @include media-breakpoint-down(sm){
//     margin-bottom:10px;
//   }
//
//   @include media-breakpoint-up(xl){
//     margin-bottom:10px;
//   }
//
//   @each $breakpoint in map-keys($breakpoints) {
//     $next: breakpoint-next($breakpoint, $breakpoints);
//     $infix: breakpoint-name($breakpoint, $breakpoints);
//
//     &#{$infix} {
//
//       @include media-breakpoint-down($breakpoint){
//         margin-bottom:10px;
//       }
//
//       @include media-breakpoint-up($breakpoint){
//         margin-bottom:20px;
//       }
//
//     }
//
//   }
// }

.mediaqueries{
  margin-top: 0px;
  // @include media-breakpoint-between(sm, md){
  //   margin-top: 20px;
  // }
}
