/*!
*
* x - Options
* x - Breakpoint
* x - Grid
* x - Gutter
* x - Margin
* x - Container
* x - Fonts
*
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/*------------------ x - Options ---------------------*/

$enable-grid:                     true !default;
$enable-shadows:                  true !default;
$enable-radius:                   true !default;
$enable-transitions:              true !default;

/*------------------ x - Breakpoint ---------------------*/

$breakpoints: (
  xl: 840px,
  md: 480px,
  sm: 0
) !default;

/*------------------ x - Grid ---------------------*/

$columns:(
  xl: 12,
  md: 8,
  sm: 4
) !default;

/*------------------ x - Gutter ---------------------*/

$gutter-default:                  24px !default;
$gutters: (
  xl:                             $gutter-default,
  md:                             $gutter-default / 1.5,
  sm:                             $gutter-default / 1.5
) !default;

/*------------------ x - Container ---------------------*/

$container-widths: (
  xl: 1200px,
  md: 840px,
  sm: 480px
) !default;

/*------------------ x - Spacer ---------------------*/

$spacer-base:                     1rem !default;

/*------------------ x - Z-index ---------------------*/

$zindex-fixed:                    1000 !default;
$zindex-drawer:                   8000 !default;

/*------------------ x - Color ---------------------*/

$primary-color:                   $blue-700 !default;
$primary-variant:                 darken($primary-color, 10%) !default;
$secondary-color:                 $pink-800;
$secondary-variant:               darken($secondary-color, 10%) !default;

$error-color:                     $red-800 !default;

$success-color:                   $green-600 !default;
$warning-color:                   $amber-800 !default;
$danger-color:                    $red-800 !default;
$info-color:                      $blue-a200 !default;

$disabled-color:                  rgba($white,.25) !default;

/*------------------ x - Shadows ---------------------*/

$shadow-key-umbra-opacity:        0.2 !default;
$shadow-key-penumbra-opacity:     0.14 !default;
$shadow-ambient-shadow-opacity:   0.12 !default;

/*------------------ x - Fonts ---------------------*/

$font-family-master:             'Roboto', "Helvetica Neue", Arial, sans-serif !default;
$font-size-master:               1rem !default;

$font-weight-light:              300 !default;
$font-weight-normal:             400 !default;
$font-weight-medium:             500 !default;
$font-weight-bold:               700 !default;

$font-weight-master:             $font-weight-normal !default;

$letter-spacing-master:          0.0125rem !default;

$font-color:                     $black;

/*------------------ x - Link ---------------------*/

$link-color:                     $primary-color !default;
$disabled-link:                  $disabled-color !default;
$link-decoration:                none !default;

/*------------------ x - Btn ---------------------*/


//Button
$button-width:                  64px !default;
$button-height:                 36px !default;
$button-line-height:            $button-height !default;
$button-spacer-x:               1rem !default;
$button-spacer-y:               0 !default;
$button-font-size:              0.875rem !default;
$button-font-weight:            $font-weight-medium !default;
$button-letter-spacing:         .08929em !default;
$button-radius:                 4px !default;
$button-background:             rgba(158,158,158,0) !default;
$button-background-hover:       rgba(158,158,158,.2)!default;

$button-transition-property:    background, box-shadow !default;
$button-transition-duration:    0.15s !default;
$button-transition-ease:        ease !default;

$button-color-primary:                $black !default;
$button-color-secondary:              $white !default;

//Raised button
$button-background-raised:            rgba(158,158,158,.2) !default;

//Primary
$button-background-primary:           $primary-color !default;
$button-color-primary:                $primary-color !default;

//Secondary
$button-background-secondary:         $secondary-variant !default;
$button-color-secondary:              $primary-color !default;

//Success
$button-background-success:           $success-color !default;
$button-color-success:                $primary-color !default;

//Danger
$button-background-danger:            $danger-color !default;
$button-color-danger:                 $primary-color !default;

//Warning
$button-background-warning:           $warning-color !default;
$button-color-warning:                $primary-color !default;

//Info
$button-background-info:              $info-color !default;
$button-color-info:                   $primary-color !default;

//Shaped
$button-shaped-radius:                18px !default;

// Bouton "Dense"
//$button-dense:;

/*------------------ x - Nav ---------------------*/

$nav:(
  xl: 56px,
  md: 64px,
  sm: 64px
) !default;

$nav-bg:                              $primary-color !default;

$navbar-spacer-x:                     $spacer-base !default;
$navbar-spacer-y:                     $spacer-base !default;

$navbar-toggle-spacer:                12px !default;
$navbar-toggle-font-size:             $font-size-master !default;
$navbar-toggle-border:                none !default;

$nav-font-size:                       $font-size-master !default;

$navbar-logo:                         $white !default;
$navbar-spacer-logo:                  20px !default;
$navbar-color:                        rgba($white,.5) !default;
$navbar-hover-color:                  $white !default;
$navbar-hover-transition-property:    opacity !default;
$navbar-hover-transition-duration:    0.15s !default;
$navbar-hover-transition-ease:        linear !default;
$navbar-active-color:                 $navbar-hover-color !default;

/*------------------ x - Body ---------------------*/

$bg-color:                            $white;

/*------------------ x - Title ---------------------*/

$h1-size:                             6rem !default;
$h1-font-weight:                      $font-weight-light !default;
$h1-line-height:                      6rem !default;
$h1-letter-spacing:                   -0.015625em !default;

$h2-size:                             3.75rem !default;
$h2-font-weight:                      $font-weight-light !default;
$h2-line-height:                      3.75rem !default;
$h2-letter-spacing:                   -0.0083333333em !default;

$h3-size:                             3rem !default;
$h3-font-weight:                      $font-weight-normal !default;
$h3-line-height:                      3.125rem !default;
$h3-letter-spacing:                   normal !default;

$h4-size:                             2.125rem !default;
$h4-font-weight:                      $font-weight-normal !default;
$h4-line-height:                      2.5rem !default;
$h4-letter-spacing:                   0.0073529412em !default;

$h5-size:                             1.5rem !default;
$h5-font-weight:                      $font-weight-normal !default;
$h5-line-height:                      2rem !default;
$h5-letter-spacing:                   normal !default;

$h6-size:                             1.25rem !default;
$h6-font-weight:                      $font-weight-medium !default;
$h6-line-height:                      2rem !default;
$h6-letter-spacing:                   0.0125em !default;

/*------------------ x - Paragraph ---------------------*/

$p-size:                              $font-size-master !default;
$p-line-height:                       1.5rem !default;
$p-font-weight:                       $font-weight-normal !default;
$p-letter-spacing:                    0.0178571429em !default;

/*------------------ x - Caption ---------------------*/

$caption-size:                        0.75rem !default;
$caption-line-height:                 1.25rem !default;
$caption-font-weight:                 $font-weight-normal !default;
$caption-letter-spacing:              0.0333333333em !default;

/*------------------ x - Table ---------------------*/

$table-row-height:                    48px !default;
$table-head-size:                     0.75rem !default;
$table-size:                          0.8125rem !default;
$table-letter-spacing:                0 !default;
$table-border:                        1px solid $grey-300 !default;
$table-background:                    $white !default;
$table-row-background-hover:          $grey-100 !default;
$table-row-background-striped:        $grey-200 !default;
$table-head-color:                    $grey-600 !default;
$table-body-color:                    $black !default;

$table-transition-property:           background !default;
$table-transition-duration:           0.28s !default;
$table-transition-ease:               ease !default;

/*------------------ x - Tabs ---------------------*/
$tabs-cursor:                         $primary-color !default;
$tabs-color:                          $primary-color !default;
$tabs-disabled:                       $disabled-color;
$tabs-bg:                             transparent !default;

/*------------------ x - List ---------------------*/
$list-size:                           $font-size-master !default;
$list-main-color:                     rgba($black,.87) !default;
